
@import "tailwindcss";
.prose * {
    all: revert;
}

.prose img {
    max-width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
