<footer class="border-t border-gray-800 py-6 text-center text-sm text-gray-500">
  <div class="space-x-6">
    <a href="/redes" class="hover:underline">Redes</a>
    <a href="/objetivo" class="hover:underline">Objetivo</a>
    <a href="/blog" class="hover:underline">Blog</a>
    <a href="/contacto" class="hover:underline">Contacto</a>
  </div>
</footer>
